<app-header />

<main>
  <ul id="users">
    <!-- @for (user of users; track user.id) { -->
    <li *ngFor="let user of users">
      <app-user
        [user]="user"
        [selected]="user.id === selectedUserId"
        (select)="onSelectUser($event)"
      />
    </li>
    <!-- } -->
  </ul>

  <!-- @if (selectedUser) { -->
  <app-tasks
    *ngIf="selectedUser; else fallback"
    [name]="selectedUser.name"
    [userId]="selectedUser.id"
  />
  <!-- } @else { -->
  <ng-template #fallback>
    <p id="fallback">Select an user to see their tasks!</p>
  </ng-template>
  <!-- } -->
</main>
